  <div class="row">
    <form class="col s12 form-cadastro">
      <div class="row">
     
     <div id='table' class="table">
        <table class="striped">
          <thead>
            <tr>
              <th data-field="Nome">Nome</th>
              <th data-field="Curso">Curso</th>
              <th data-field="Curso">Editar</th>
              <th data-field="Curso">Apagar</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="l in listaAlunos track by $index">
              <td>{{l.nome}}</td>
              <td>{{l.curso}}</td>
              <td><a class="btn-floating btn-medium waves-effect waves-light blue" href="#/editar/{{l._id}}"><i class="mdi-content-create"></i></a>
              <td><a ng-click="excluiAluno(l._id)" class="btn-floating btn-small waves-effect waves-light red"><i class="mdi-content-clear"></i></a> 
       </td>
            </tr>
          </tbody>
        </table>
      </div><!--/table-->

    </form>
  </div>

